
<div class="header">Nieuwsbericht toevoegen...</div>
<div class="ui hidden divider"></div>
Gebruik onderstaand formulier om een nieuwsbericht toe te voegen.
<div class="ui small form segment"> 
    <div class="field">
      <label for="titel">Titel:</label> 
      <input id="titel" name="titel" #titel>
    </div>
    <div class="field">
        <label for="bericht">Bericht:</label> 
        <textarea id="bericht" name="bericht" #bericht></textarea>
    </div>
  <div class="field">
    <button class="ui green button" type="submit" (click)="voegNieuwsberichtToe(titel.value, bericht.value)">Toevoegen</button> 
    <button class="ui red button" type="reset">Herstel</button>
  </div>
  
  