<div class="ui attached message">
  <div>
    <h3 class="ui header">{{nieuwsbericht.titel}}</h3>
    <p>{{nieuwsbericht.bericht}}</p>
    <div class="ui right aligned container">
      <p>Toegevoegd op {{nieuwsbericht.toegevoegdOp | date: "dd/MM/yyyy"}} door {{nieuwsbericht.toegevoegdDoor}}</p>
      <a class="ui mini blue button" routerLink="/nieuws/{{nieuwsbericht.id}}">Open</a>
      <button class="ui mini red  button" (click)='verwijderNieuwsbericht()'>Verwijder</button>
      <a class="ui mini orange button"  routerLink="/nieuws/wijzig/{{nieuwsbericht.id}}">Wijzig</a>
    </div>
  </div>
</div>