<div class="ui attached message">
  <div>
    <h3 class="ui dividing header">{{nieuwsbericht.titel}}</h3>
    <p>{{nieuwsbericht.bericht}}</p>
    <p>Toegevoegd op {{nieuwsbericht.toegevoegdOp | date: "dd/MM/yyyy"}} door {{nieuwsbericht.toegevoegdDoor}}</p>
    <div>
      <a class="ui mini blue button" routerLink="/nieuws/{{nieuwsbericht.id}}">Open nieuwsbericht</a>
      <button class="ui mini red  button" (click)='verwijderNieuwsbericht()'>Verwijder nieuwsbericht</button>
      <a class="ui mini orange button"  routerLink="/nieuws/wijzig/{{nieuwsbericht.id}}">Wijzig nieuwsbericht</a>
    </div>
  </div>
</div>