<div class="ui top attached message overzicht">
  <div class="ui tiny header">{{nieuwsbericht.titel}}</div>
</div>
<div class="ui attached message">
    <p>{{nieuwsbericht.bericht}}</p>
    <div class="ui divider"></div>
    <div class="ui right aligned container">
      <p>Toegevoegd op {{nieuwsbericht.toegevoegdOp | date: "dd/MM/yyyy"}} door {{nieuwsbericht.toegevoegdDoor}}</p>
      <div *ngIf="isUserAdmin">
        <a class="ui mini red  button" (click)='verwijderNieuwsbericht()' routerLink="/nieuws">Verwijder</a>
        <a class="ui mini orange button" [routerLink]="['/nieuws/wijzig/', nieuwsbericht.id]">Wijzig</a>
      </div>
    </div>
</div>
