<div class="ui top attached message overzicht">
    <div class="ui tiny header">Nieuwsbericht toevoegen</div>
</div>
<div class="ui form attached message"> 
   <p>Gebruik onderstaand formulier om een nieuwsbericht toe te voegen.</p>
    <div class="field">
      <label for="titel">Titel:</label> 
      <input id="titel" name="titel" #titel>
    </div>
    <div class="field">
        <label for="bericht">Bericht:</label> 
        <textarea id="bericht" name="bericht" #bericht></textarea>
    </div>
    <div class="field">
      <button class="ui mini green button" type="submit" (click)="voegNieuwsberichtToe(titel.value, bericht.value)">Toevoegen</button> 
      <button class="ui mini red button" type="reset">Herstel</button>
    </div>
</div>
  
  