<div class="ui message">
    <div class="header">Nieuws...</div>
    <div class="ui hidden divider"></div>
    Welkom op de nieuwspagina van Abvv Aviation.<br>
    <a (click)="toggleForm()" id='formToggle'>Nieuwsbericht toevoegen</a>
</div>
  <app-nieuws-toevoegen (nieuwsbericht)="voegNieuwsberichtToe($event)" id='form'></app-nieuws-toevoegen>

<div class="ui top attached message overzicht">
  <div class="ui tiny header">Nieuwsberichten</div>
</div>
<div class="ui attached message" *ngIf="isEmpty">
  Er zijn geen nieuwsberichten
</div>
<app-nieuwsbericht *ngFor="let nbericht of nieuwsBerichten" [nieuwsbericht]='nbericht' (deleteNieuwsbericht)='verwijderNieuwsbericht($event)'></app-nieuwsbericht>

  