<div class="ui message">
    <div class="header">Gebruikers</div>
    <div class="ui hidden divider"></div>
    Hieronder een overzicht van de gebruikers<br>
    <br>
    <label for="filterNonActive">Filter niet-geactiveerde gebruikers</label>
    <input type="checkbox" #filter name="filterNonActive">
</div>
<div class="ui attached positive message" *ngIf="isDeleted">
  <i class="close icon" (click)="closeMessage()"></i>
  Gebruiker verwijderd
</div>
<div class="ui attached positive message" *ngIf="isActivated">
  <i class="close icon" (click)="closeMessage()"></i>
  Gebruiker geactiveerd
</div>
<div class="ui attached positive message" *ngIf="isDeActivated">
  <i class="close icon" (click)="closeMessage()"></i>
  Gebruiker gedeactiveerd
</div>
<table class="ui red fixed table">
  <thead>
    <tr>
      <th style="width: 60%;">Naam</th>
      <th style="width: 20%;">PersNR.</th>
      <th class="center aligned" style="width: 20%;">Acties</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | filterNonActiveUsers: filterNonActive">
        <td>{{user.naam}} {{user.voornaam}} ({{user.username}})</td>
        <td class="bericht">{{user.personeelsnummer}}</td>
        <td class="center aligned">
          <i class="trash icon" title="Verwijder gebruiker" (click)="verwijderGebruiker(user.id)"></i>
          <i class="thumbs up icon" title="Activeer gebruiker" *ngIf="!user.active" (click)="activeerGebruiker(user.id)"></i>
          <i class="thumbs down icon" title="De-activeer gebruiker" *ngIf="user.active" (click)="deactiveerGebruiker(user.id)"></i>
        </td>
    </tr>
    <tr *ngIf="isEmpty">
      <td colspan="3">Geen gebruikers</td>
    </tr>
  </tbody>
</table>